/*animaciones*/
.animate__backInUp, .animate__fadeInLeft {
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}

.headertitle {
  animation-name: radiant;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes radiant {
  0% {
    text-shadow: 0px 0px 0px black;
  }
  20% {
    text-shadow: 3px 0px 0px whitesmoke;
  }
  40% {
    text-shadow: 0px 0px 0px whitesmoke;
  }
}
@keyframes sliderBrands {
  0% {
    background-position: 900px;
  }
  25% {
    background-position: 500px;
  }
  50% {
    background-position: 0px;
  }
  75% {
    background-position: -500px;
  }
  100% {
    background-position: -900px;
  }
}
/*STYLES GENERALES*/
:root {
  scrollbar-color: rgb(207, 205, 205) rgb(71, 71, 71);
  scrollbar-width: thin;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  max-width: 100% !important;
  overflow-x: hidden !important;
}

header {
  height: 90px;
  width: 100%;
  background-color: black;
}

.parallaxTop, .parallaxTop__contact, .parallaxTop__reviews, .parallaxTop__outdoor, .parallaxTop__street, .parallaxMid {
  height: 525px;
  width: 100%;
  background-image: url(../assets/img/phone-city.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.headertitle {
  color: whitesmoke;
  font-family: "Montserrat";
  font-size: 55px;
  height: 82px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar, .navbarUniversal {
  height: 45px;
  width: fit-content;
  font-family: "Bebas Neue";
  font-weight: lighter;
  letter-spacing: 3px;
  position: sticky;
  top: 0;
  margin-top: -50px;
  font-size: 23px;
  text-decoration: none;
  --bs-navbar-nav-link-padding-x: 25px;
  --bs-navbar-active-color: #adb5bd;
  --bs-navbar-toggler-border-color: #ffffff00;
  --bs-navbar-toggler-padding-y: 9px;
  z-index: 1;
}

.navbarUniversal {
  margin-top: 5px;
}

.navbar-toggler-icon {
  height: 20px;
  width: 30px;
}

nav ul {
  display: flex;
  justify-content: start;
  list-style-type: none;
}

.bg-dark {
  --bs-bg-opacity: 0.8;
}

.eslogan, .eslogan__contact, .eslogan__reviews, .eslogan__outdoor, .eslogan__second {
  color: black;
  font-family: "Montserrat";
  font-size: 25px;
  letter-spacing: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  text-shadow: 3px 3px 5px black;
  height: 525px;
  font-weight: bold;
}

.btn__display {
  display: flex;
  justify-content: space-evenly;
  height: 65px;
  margin-top: 40px;
}

.btn__style, .btn-primary {
  height: 45px;
  width: 160px;
  color: whitesmoke;
  letter-spacing: 1px;
  background-color: rgba(0, 0, 0, 0.9);
  font-family: "Bebas Neue";
  border-radius: 25px;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  box-shadow: black 1px 1px 5px;
  border: 0px;
  transition: all 0.5s;
}
.btn__style:hover, .btn-primary:hover {
  background-color: rgb(175, 175, 175);
  color: black;
}

.btn-primary {
  height: 40px;
  width: 120px;
  font-size: 18px;
}

.btn {
  --bs-btn-padding-x: 1.2rem;
  letter-spacing: 1px;
  margin-top: 25px;
  margin-inline: 2px;
  --bs-btn-border-radius: 3px;
}

main div section article div div {
  position: relative;
}

.card {
  --bs-card-spacer-y: 3rem;
}

.card-img-top {
  position: relative;
  height: 240px;
  width: 250px;
  margin-top: 20px;
}

.maintitle_second, .maintitle_third {
  margin-top: 180px;
  margin-left: 230px;
  margin-bottom: 50px;
  font-family: "Bebas Neue";
  font-size: 45px;
  background-color: rgb(207, 205, 205);
  color: black;
  padding-left: 6px;
  width: 100%;
  letter-spacing: 2px;
  border: 2px groove black;
}

.maintitle_third {
  margin-left: 700px;
  margin-bottom: -20px;
  margin-top: 35px;
  font-size: 35px;
  background-color: rgb(113, 113, 113);
}

.content_subtitle {
  font-size: 25px;
  position: absolute;
  text-decoration: none;
  letter-spacing: 1px;
}

.parallaxMid {
  height: 650px;
  width: 100%;
  background-image: url(../assets/img/boxmarketOk.jpg);
}

.eslogan__second {
  height: 200px;
  width: 100%;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.4) 5px 5px 10px;
}

/*FOOTER*/
.footer__style {
  height: 340px;
  width: 100%;
  color: rgb(207, 205, 205);
  background-color: black;
  font-family: "Montserrat";
}

.footer__title {
  margin-left: 10px;
  font-size: 48px;
  position: relative;
  padding-top: 20px;
  padding-left: 10px;
}

.contact, .faq {
  width: 30%;
  margin-inline: 85px;
  position: absolute;
  margin-top: 35px;
}

.contact__info, .contact__email {
  margin-top: -24px;
  margin-left: 60px;
}

.contact2 {
  margin-top: 35px;
  position: absolute;
  margin-inline: 470px;
}

.faq {
  margin-top: 100px;
}

.faq__link {
  text-decoration: none;
  font-family: "Montserrat";
  margin-top: -24px;
  margin-left: 52px;
  color: rgb(207, 205, 205);
}
.faq__link:hover {
  color: #00a5ff;
}

.box__map {
  display: flex;
  position: absolute;
  align-items: end;
  justify-content: end;
  width: 100%;
}

.address__map {
  margin-right: 88px;
}

.title__map {
  margin-right: 50px;
}

.footer__subtitle {
  margin-right: 179px;
  font-size: 17px;
  letter-spacing: 2px;
}

.footer__social {
  display: flex;
  justify-content: end;
  margin-top: 200px;
  height: 60px;
  padding-top: 8px;
  border-top: 1px solid rgb(113, 113, 113);
  align-items: center;
}

footer article a {
  margin-inline: 20px;
  padding-bottom: 5px;
  transition: all 0.3s;
}

.footer__social_icons {
  transition: all 0.2s ease-in-out;
}
.footer__social_icons:hover {
  transform: scale(1.2);
}

/*INDEX*/
.lastContent {
  background: linear-gradient(157deg, rgb(189, 189, 189) 35%, rgb(143, 143, 143) 60%, rgb(0, 0, 0) 80%);
}

.maintitle {
  height: 80px;
  width: 100%;
  padding-top: 10px;
  color: black;
  font-family: "Bebas Neue";
  font-size: 60px;
  letter-spacing: 6px;
  display: flex;
  justify-content: center;
  background: linear-gradient(0.5turn, rgb(150, 150, 150) 0%, rgb(190, 190, 190) 50%, rgb(105, 106, 106) 100%);
}

#first_subtitle {
  margin-left: 30px;
}

.content_index {
  color: black;
  font-family: "Alumni Sans";
  font-size: medium;
  letter-spacing: 1px;
  padding: 0px;
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "first first" "second third";
}

.content_subtitle_index {
  font-family: "Bebas Neue";
  font-size: 35px;
  position: absolute;
  text-decoration: none;
  margin-top: 20px;
}

.first {
  grid-area: first;
  font-size: 36px;
  display: flex;
  gap: 145px;
  margin-top: -8px;
  height: 540px;
  background-color: #a2a2a2;
  position: absolute;
}

.first__info {
  align-items: end;
  margin: 75px 25px 25px 50px;
}

.firstIMG {
  height: 370px;
  width: 420px;
  margin: 85px 0px 0px 30px;
  border-radius: 10px;
  box-shadow: black 1px 5px 10px;
  transition: all 0.2s ease-in-out;
}
.firstIMG:hover {
  transform: scale(1.02);
}

.second {
  grid-area: second;
  margin-top: -167px;
  margin-right: 40px;
  font-size: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ff762e;
  border-top: 13px solid black;
  height: 814px;
}

.second__info {
  margin: 15px 50px 0px 50px;
}

.secondIMG {
  height: 320px;
  width: 350px;
  border-radius: 10px;
  margin-top: 87px;
  margin-bottom: 40px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 10px;
  transition: all 0.2s ease-in-out;
}
.secondIMG:hover {
  transform: scale(1.02);
}

.third {
  grid-area: third;
  margin-left: -91px;
  font-size: 26px;
  margin-top: -167px;
  border-top: 13px solid black;
  border-left: 12px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #536975;
  height: 814px;
}

.third__info {
  margin: 15px 50px 100px 70px;
}

.thirdIMG {
  height: 320px;
  width: 350px;
  border-radius: 10px;
  margin-top: 87px;
  margin-bottom: 57px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 10px;
  transition: all 0.2s ease-in-out;
}
.thirdIMG:hover {
  transform: scale(1.02);
}

#bottomCarousel {
  display: flex;
  justify-content: center;
  width: 70%;
}

/*STREET*/
.parallaxTop__street {
  height: 320px;
  background-image: url(../assets/img/womanGadget1.jpg);
}

.flex-container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 100px;
}

.content_street {
  color: black;
  font-family: "Bebas Neue";
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 50px;
  column-gap: 150px;
}

/*OUTDOOR*/
.parallaxTop__outdoor {
  height: 320px;
  background-image: url(../assets/img/silhouette_drone1.jpg);
}

.eslogan__outdoor {
  margin-left: 50px;
  padding-bottom: 210px;
  justify-content: start;
  text-shadow: 10px 10px 4px black;
}

.content_outdoor {
  color: black;
  font-family: "Bebas Neue";
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 40px;
  column-gap: 200px;
}

/*REVIEWS*/
.parallaxTop__reviews {
  height: 320px;
  background-image: url(../assets/img/reviews.jpg);
}

.eslogan__reviews {
  margin-left: 120px;
  padding-bottom: 210px;
  justify-content: start;
  text-shadow: 10px 10px 4px black;
}

.content_reviews {
  color: black;
  font-family: "Bebas Neue";
  font-size: medium;
  padding: 30px;
  letter-spacing: 1px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 60px;
  margin-bottom: 100px;
}

.reviews_grid_style {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iframes_reviews {
  height: 220px;
  width: 400px;
  margin: 35px 0px 25px 0px;
  border: 5px groove rgb(230, 230, 230);
  border-radius: 3px;
}

.btn_reviews {
  width: 150px;
}

/*CONTACTO*/
.contact__style {
  background: radial-gradient(circle, rgb(255, 255, 255) 10%, rgb(83, 105, 117) 90%);
}

.parallaxTop__contact {
  height: 320px;
  background-image: url(../assets/img/typingL2.jpg);
}

.eslogan__contact {
  margin-left: 285px;
  padding-bottom: 210px;
  justify-content: start;
  text-shadow: 10px 10px 4px black;
}

form {
  height: 550px;
  width: 70%;
  font-family: "Lato";
  font-size: 1.1rem;
  letter-spacing: 1px;
  color: rgb(207, 205, 205);
  padding: 20px;
  margin: 100px 0px 200px 0px;
  background-image: url(../assets/img/pPlain.png);
  background-position: center;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.4) 10px 10px 5px;
  padding-bottom: 5px;
}

.msg__title {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  font-weight: 300;
  text-shadow: 1px 1px 3px black;
  margin-top: 50px;
}

.userMsg {
  font-family: "Lato";
  font-size: 1.1rem;
  letter-spacing: 1px;
  color: black;
  padding: 5px;
  opacity: 0.5;
  width: 100%;
  transition: all 0.5s;
}
.userMsg:hover {
  background-color: rgb(207, 205, 205);
  opacity: 1;
}

.form-control {
  width: 70%;
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 15px;
  transition: all 0.5s;
  opacity: 0.5;
}
.form-control:hover {
  opacity: 1;
  background-color: rgb(207, 205, 205);
}

main form input {
  height: 40px;
}

main form button {
  height: 33px;
  font-family: "Lato";
  font-size: 1.1rem;
  color: black;
  width: 100px;
  opacity: 0.5;
  border: none;
  transition: all 0.5s;
}
main form button:hover {
  opacity: 1;
  background-color: rgb(207, 205, 205);
}

.contact_main {
  display: flex;
  justify-content: center;
}

.contactIMG {
  height: 600px;
  width: 70%;
  margin-top: 50px;
  border-radius: 10px;
}

/*WorkingOn*/
.inDev__style {
  background-color: #ffff00;
  display: flex;
  font-family: "Bebas Neue";
}

.inDev__img {
  height: 500px;
  width: 500px;
  margin: 10px 0 15px 0;
}

.centerElement {
  display: flex;
  justify-content: center;
}

/***responsive***/
@media only screen and (max-width: 576px) {
  /**gral**/
  header {
    height: 90px;
    width: 100%;
  }
  .headerimg {
    height: 200px;
    width: 100%;
  }
  .headertitle {
    font-size: 50px;
  }
  .navbar, .navbarUniversal {
    margin-top: 5px;
    width: 100%;
  }
  nav ul li a {
    font-size: 18px;
    padding-inline: 18px;
  }
  .navbar-toggler {
    margin: -5px;
  }
  .nav-item {
    color: black;
  }
  .eslogan, .eslogan__second, .eslogan__outdoor, .eslogan__reviews, .eslogan__contact {
    position: absolute;
    margin: 90px 0px 0px 250px;
    font-size: 20px;
    background-color: transparent;
  }
  /*footer*/
  .footer__style {
    height: 305px;
  }
  .footer__subtitle {
    margin-right: 93px;
    margin-top: 8px;
  }
  .contact, .faq {
    margin-top: 15px;
    margin-inline: 20px;
    width: 50%;
  }
  .contact2 {
    margin-top: 13px;
    margin-inline: 340px;
  }
  .faq {
    margin-top: 90px;
    margin-inline: 20px;
    width: 50%;
  }
  .footer__social {
    margin-top: 165px;
  }
  .footer_title {
    font-size: 40px;
  }
  .box__map {
    display: none;
  }
  footer article a {
    margin-inline: 12px;
  }
  /*index*/
  .parallaxTop__index_mobile {
    height: 250px;
    background-attachment: unset;
  }
  .eslogan, .eslogan__second, .eslogan__outdoor, .eslogan__reviews, .eslogan__contact {
    margin: 0;
    padding-bottom: 250px;
    padding-left: 100px;
  }
  .firstIMG {
    height: 350px;
    width: 375px;
  }
  .content_index {
    gap: 100px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "first" "second" "third";
  }
  .first {
    flex-direction: column;
    gap: 0px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    align-items: center;
    font-size: 23px;
    height: 710px;
  }
  .first__info {
    margin: 60px;
  }
  .btn_display {
    justify-content: center;
  }
  .second {
    margin-right: 0px;
    margin-top: -115px;
    height: 832px;
    font-size: 23px;
  }
  .second__info {
    margin: 18px;
  }
  .third {
    margin-top: -200px;
    margin-left: 0px;
    font-size: 23px;
    height: 825px;
    border-left: 0px;
  }
  .third__info {
    margin: 18px;
  }
  .maintitle_second, .maintitle_third {
    margin-top: -220px;
    margin-left: 150px;
  }
  .parallaxMid {
    margin-top: -92px;
  }
  .eslogan__second {
    padding-bottom: 50px;
    padding-left: 60px;
  }
  /*street*/
  .content_street_header {
    height: 280px;
  }
  .content_street {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
  .content_subtitle {
    font-size: 30px;
  }
  .grid_img {
    height: 270px;
    width: 290px;
  }
  .grid_btn_style {
    margin-left: 0px;
    margin-bottom: 70px;
  }
  /*outdoor*/
  .eslogan__outdoor {
    padding-bottom: 40px;
    padding-left: 20px;
  }
  .content_outdoor_header {
    height: 280px;
  }
  .content_outdoor {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
  /*reviews*/
  .eslogan__reviews {
    padding-bottom: 150px;
    padding-left: 230px;
  }
  .content_reviews {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
  .maintitle_second_mobile {
    margin-top: 180px;
    margin-left: 100px;
  }
  .maintitle_third_mobile {
    margin-left: 180px;
    margin-top: 80px;
  }
  /*contacto*/
  .contactIMG {
    display: none;
  }
  form {
    width: 520px;
  }
  .eslogan__contact {
    padding-bottom: 100px;
    padding-left: 20px;
  }
}
@media (max-width: 768px) and (min-width: 577px) {
  /*GRAL*/
  .navbar, .navbarUniversal {
    margin-top: 5px;
    width: 100%;
  }
  nav ul li a {
    font-size: 18px;
    padding-inline: 18px;
  }
  .navbar-toggler {
    margin: -5px;
  }
  .eslogan, .eslogan__second, .eslogan__outdoor, .eslogan__reviews, .eslogan__contact {
    position: absolute;
    margin: 90px 0px 0px 350px;
    font-size: 22px;
    height: 125px;
  }
  /*footer*/
  .footer__subtitle {
    margin-right: 33px;
    margin-top: 20px;
  }
  .footer__style {
    height: 117px;
  }
  /*index*/
  .content_index {
    gap: 100px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "first" "second" "third";
  }
  .first {
    flex-direction: column;
    font-size: 27px;
    gap: 0px;
    align-items: center;
  }
  .first_2 {
    margin: 60px;
  }
  .btn_display {
    justify-content: center;
    gap: 50px;
  }
  .second {
    margin-right: 0px;
  }
  .third {
    margin-top: -200px;
    margin-left: 0px;
  }
  /*street*/
  .content_street_header {
    height: 280px;
  }
  .content_street {
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "first_product second_product";
  }
  .content_subtitle {
    font-size: 40px;
  }
  .grid_btn_style {
    margin-left: 0px;
    margin-bottom: 70px;
  }
  /*outdoor*/
  .content_outdoor_header {
    height: 280px;
  }
  .content_outdoor {
    gap: 10px;
    grid-template-columns: 2fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "first_product second_product";
  }
  /*reviews*/
  .iframes_reviews {
    height: 300px;
    width: 80%;
  }
  .content_reviews {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
  .maintitle_second_mobile {
    margin-top: 180px;
    margin-left: 100px;
  }
  .maintitle_third_mobile {
    margin-left: 180px;
  }
  /*contacto*/
  .contactIMG {
    display: none;
  }
  form {
    width: 650px;
  }
}

/*# sourceMappingURL=estilos.css.map */
