@import "colors";
@import "fonts";
@import "sizing";


/*animaciones*/

.animate__backInUp {
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}


.animate__fadeInLeft {
    @extend .animate__backInUp;
}

.header__title {
    animation-name: radiant;    
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes radiant {
    0%  {text-shadow: 0px 0px 0px $b;
    }
    20% {
        text-shadow: 3px 0px 0px whitesmoke;
    }
    40% {
        text-shadow: 0px 0px 0px whitesmoke;
    }
}

@keyframes sliderBrands {
    0% {
        background-position: 900px;
    }
    25% {
        background-position: 500px;
    }
    50% {
        background-position: 0px;
    }
    75% {
        background-position: -500px;
    }
    100% {
        background-position: -900px;
    }
}

/*STYLES GENERALES*/
:root{
    scrollbar-color:$Lgrey rgb(71, 71, 71);
    scrollbar-width: thin;
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

header {
    @include YX(90px, 100%);
    background-color: $b;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1;
}

.cart__icon__cont {
    margin-left: 95%;
    position: absolute;
    margin-top: 50px;
    transition: all 0.2s linear;
    &:hover {
        transform: scale(1.1);
    }
}

.cart__icon {
    cursor: pointer;
}

.cart__icon__notification {
    display: none;
    background-color: crimson;
    @include YX(16px, 16px);
    border-radius: 1rem;
    position: absolute;
    top: -3px;
    left: 21px;
    padding-left: 4px;
    font-size: 12px;
    font-weight: bold;
    z-index: 1;
}

.cart__modal {
    font-family: map-get($fonts, subtitle);
    font-size: 18px;
    display: none;
    margin-left: 67%;
    text-align: center;
    padding: 10px;
    top: 90px;
    @include YX(370px, 400px);
    background-color: white;
    position: fixed;
    z-index: 2;
    border: none;
    box-shadow: black 1px 1px 10px;
    border-radius: none;
    &__empty {
        font-size: 18px;
        margin: auto;
    }
    &__content {
        display: none;
    }
    &__detail {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        border-bottom: 1px solid gray;
        padding-bottom: 13px;
        height: 100px;
    }
    &__name{
        padding-top: 16px;
        padding-right: 16px
    }
    &__price {
        @extend .cart__modal__name;
    }
    &__img {
        width: 60px;
    }
    &__title {
        border-bottom: 2px solid gray;
        padding: 15px;
        font-size: 21px;
        letter-spacing: 0.5px;
    }
    &__product {
        display: contents;
        align-items: center;
        justify-content: space-evenly;
    }
    &__quantity {
        width: 30px;
        text-align: center;
        font-size: 16px;
    }    
    &__discard {
        cursor: pointer;
    }
    &__btn__cont{
        display: none;
        justify-content: space-around;
    }
    &__options {
        font-size: 19px;
        font-weight: bold;
        border: none;
        background-color: crimson;
        color: white;
        border-radius: 0px;
        @include YX(50px, 100px);
        font-family: map-get($fonts, content);
    }
    &__totalPrice {
        display: none;
        padding-top: 5px;
    }
}


.switch {
    display: block;
}

#toRender {
    display:flex;
    flex-direction: column;
    row-gap:16px;
    height: 170px;
}

.overflow-y {
    overflow-y:scroll;

}

.parallaxTop {
    @include YX(525px, 100%);
    background-image: url(../assets/img/phone-city.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__title {
    color: whitesmoke;
    font-family: "Montserrat";
    font-size: 55px;
    height: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
}           

.navbar {
    @include YX(45px, fit-content);
    font-family: map-get($fonts, subtitle);
    font-weight: lighter;
    letter-spacing: 3px;
    position: sticky;
    top: 45px;
    margin-top: -50px;
    font-size: 22px;
    text-decoration: none;
    --bs-navbar-nav-link-padding-x: 17px;
    --bs-navbar-active-color: #adb5bd;
    --bs-navbar-toggler-border-color: #ffffff00;
    --bs-navbar-toggler-padding-y: 9px;
    z-index:1;
}

.navbarUniversal {
    @extend .navbar;
    margin-top: 5px;
}

.navbar-toggler-icon {
    @include YX(20px, 30px);
}

nav {
    ul{
        display: flex;
        justify-content: start;
        list-style-type: none;
    }
}

.bg-dark {
    --bs-bg-opacity: 0.8;
    background-color: black;
}

.btn__display {
    display: flex;
    justify-content: space-evenly;
    height: 65px;
    margin-top: 40px;
}

.btn__index {
    @include YX(45px, 160px);
    color: $w;
    letter-spacing: 1px;
    background-color: rgb(0, 0, 0, 0.900);
    font-family: map-get($fonts, subtitle);
    border-radius: 25px;
    font-size: 20px;    
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    box-shadow: $b 1px 1px 5px;
    border: 0px;
    transition: all 0.5s;
        &:hover{
            background-color: rgb(175, 175, 175);
            color: $b;
        }
}

.btn__primary {
    @extend .btn__index;
    @include YX(40px, 121px);
    background-color: coral;
    font-size: 16px;
    --bs-btn-padding-x: 1.2rem;
    letter-spacing: 0.5px;
    margin-top: 25px;
    margin-inline: 2px;
    --bs-btn-border-radius: 3px;
}

.btn__secondary {
    @extend .btn__primary;
    background-color: black;
}

main {
    div{
        section {
            article {
                div {
                    div {
                        position: relative;
                    }
                }
            }
        }
    }
}

.test {
    color: green;
}
.card {
    --bs-card-spacer-y: 3rem;
    box-shadow: rgba(0, 0, 0, 0.4) 5px 5px 10px;
    &__legend {
        position: absolute;
        padding: 15px 0px 10px 0px;
        color: darkgreen;
        font-family: map-get($fonts, content );
        font-weight: bold;
        font-size: 18px;
    }
}

.card-img-top {
    position: relative;
    @include YX(240px, 250px);
    margin-top: 20px;
    }


/*FOOTER*/


.footer__style {
    @include YX(340px, 100%);
    color: $Lgrey;
    background-color: $b;
    font-family: map-get($fonts, title );
}

.footer__title {
    margin-left: 10px;
    font-size: 48px;
    position: relative;
    padding-top: 20px;
    padding-left: 10px;
}

.contact {
    width: 30%;
    margin-inline: 85px;
    position: absolute;
    margin-top: 35px;
}

.contact__info {
    margin-top: -24px;
    margin-left: 60px;
}

.contact2 {
    margin-top: 35px;
    position: absolute;
    margin-inline: 470px;
}

.contact__email {
    @extend .contact__info; 
}

.faq {
    @extend .contact;
    margin-top: 100px;
}

.faq__link {
    text-decoration: none;
    font-family: map-get($fonts, title);
    margin-top: -24px;
    margin-left: 52px;
    color: $Lgrey;
        &:hover{
            color:#00a5ff;
        }
}

.box__map {
    display: flex;
    position: absolute;
    align-items: end;
    justify-content: end;
    width: 100%;
}

.address__map {
    margin-right: 88px;
}

.title__map {
    margin-right: 50px;
}

.footer__subtitle {
    margin-right:179px;
    font-size: 17px;
    letter-spacing: 2px;
}

.footer__social {
    display: flex;
    justify-content: end;
    margin-top: 200px;
    height: 60px;
    padding-top: 8px;
    border-top: 1px solid $Dgrey;
    align-items: center;
}

footer { 
    article 
        a {
    margin-inline: 20px;
    padding-bottom: 5px;
    transition: all .3s;
        }
}

.footer__social_icons {
    transition: all .2s ease-in-out;
    &:hover {
        transform:scale(1.2);
}
}


/*INDEX*/

.lastContent {
    background: linear-gradient(157deg, rgba(189,189,189,1) 35%, rgba(143,143,143,1) 60%, rgba(0,0,0,1) 80%);
}

.maintitle {
    @include YX(80px, 100%);
    padding-top: 10px;
    color: $b;
    font-family: map-get($fonts, subtitle );
    font-size: 60px;
    letter-spacing: 6px;
    display: flex;
    justify-content: center;
    background: linear-gradient(0.5turn, rgb(150, 150, 150) 0%, rgb(190, 190, 190)50%, rgb(105, 106, 106) 100%);
}

.eslogan {
    color: $b;
    font-family: map-get($fonts, title);
    font-size: 25px;
    letter-spacing: 3px;    
    display: flex;              
    justify-content: center;
    align-items:center;
    background-color:transparent;
    text-shadow: 3px 3px 5px $b;
    height: 525px;
    font-weight: bold;
}

.parallaxMid {
    @extend .parallaxTop;
    @include YX(650px, 100%);
    background-image: url(../assets/img/boxmarketOk.jpg);
}

.eslogan__second {
    @extend .eslogan;
    @include YX(200px, 100%);
}


#first_subtitle {
    margin-left: 30px;
}

.content_index {
    color: $b; 
    font-family: map-get($map:$fonts, $key: content);
    font-size: medium;
    letter-spacing: 1px;
    padding: 0px;
    display: grid;
    gap:50px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: 
    "first first"
    "second third";
}

.content_subtitle_index {
    font-family: map-get($fonts, subtitle );
    font-size: 35px;
    position: absolute;
    text-decoration: none;
    margin-top: 20px;
}   

.first {
    grid-area: first;
    font-size: 36px;
    display: flex;
    gap: 145px;
    margin-top:-8px;
    height: 540px;
    background-color: #a2a2a2;
    position: absolute;
}

.first__info {
    align-items: end;
    margin: 75px 25px 25px 50px;
}   

.firstIMG {
    @include YX(370px, 420px);
    margin: 85px 0px 0px 30px;
    border-radius: 10px;
    box-shadow: $b 1px 5px 10px;
    transition: all .2s ease-in-out;
    &:hover {
        transform:scale(1.02);
    }
}

.second { 
    grid-area: second;
    margin-top: -167px;
    margin-right: 40px;
    font-size: 26px;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #ff762e;
    border-top: 13px solid $b;
    height: 814px;
}

.second__info {
    margin: 15px 50px 0px 50px;
}

.secondIMG {
    @include YX(320px, 350px);
    border-radius: 10px;
    margin-top: 87px;
    margin-bottom: 40px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 10px;
    transition: all .2s ease-in-out;
    &:hover {
        transform:scale(1.02);
    }
}

.third {
    grid-area: third;
    margin-left: -91px;
    font-size: 26px;
    margin-top: -167px;
    border-top: 13px solid $b;
    border-left: 12px solid $b;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #536975;
    height: 814px;
}

.third__info {
    margin: 15px 50px 100px 70px;
}

.thirdIMG {
    @include YX(320px, 350px);
    border-radius: 10px;
    margin-top: 87px;
    margin-bottom: 57px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 10px;
    transition: all .2s ease-in-out;
    &:hover {
        transform:scale(1.02);
    }
}   

#bottomCarousel {
    display:flex;
    justify-content: center;
    width:70%;  
}


/*STREET*/

.parallaxTop__street {
    @extend .parallaxTop;
    height: 320px;
    background-image: url(../assets/img/womanGadget1.jpg);
}

.flex-container {
    display:flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 100px;
}

.content_street {
    color: $b;
    font-family: map-get($fonts, subtitle);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    row-gap: 50px;
    column-gap: 150px;
}


/*OUTDOOR*/

.parallaxTop__outdoor {
    @extend .parallaxTop;
    height: 320px;
    background-image: url(../assets/img/silhouette_drone1.jpg);
}

.eslogan__outdoor {
    @extend .eslogan;
    margin-left: 50px;
    padding-bottom: 210px;
    justify-content: start;
    text-shadow: 10px 10px 4px $b;
}

.content_outdoor {
    color: $b;
    font-family: map-get($fonts, subtitle );
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    row-gap: 40px;
    column-gap: 200px; 
}



/*REVIEWS*/

.parallaxTop__reviews {
    @extend .parallaxTop;
    height: 320px;
    background-image: url(../assets/img/reviews.jpg);
}

.eslogan__reviews {
    @extend .eslogan;
    margin-left:120px;
    padding-bottom: 210px;
    justify-content: start;
    text-shadow: 10px 10px 4px $b;
}

.maintitle_third {
    width: 40%;
    margin-left: 60%;
    margin-bottom: -20px;   
    margin-top: 35px;
    font-size: 35px;
    background-color: rgb(113, 113, 113);
    font-family: map-get($fonts, subtitle);
    color: $b;
    padding-left: 6px;
    letter-spacing: 2px;
    border: 1px solid $b;
}

.content_reviews {
    color: $b;
    text-align: center;
    font-family: map-get($fonts, subtitle);
    font-size: medium;
    padding: 30px;
    letter-spacing: 1px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    row-gap: 60px;
    margin-bottom: 100px;
}

.reviews_grid_style {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content_subtitle {
    font-size: 25px;
    position: relative;
    text-decoration: none;
    letter-spacing: 1px;
    margin-bottom: -30px;
}

.iframes_reviews {
    @include YX(220px, 400px);
    margin: 35px 0px 25px 0px;
    border: 5px groove rgb(230, 230, 230);
    border-radius: 3px;
}


/*CONTACTO*/

.contact__style {
    background: radial-gradient(circle, rgba(255,255,255,1) 10%, rgba(83,105,117,1) 90%);
}

.parallaxTop__contact {
    @extend .parallaxTop;
    height: 320px;
    background-image: url(../assets/img/typingL2.jpg);
}

.eslogan__contact {
    @extend .eslogan;
    margin-left: 285px;
    padding-bottom: 210px;
    justify-content: start;
    text-shadow: 10px 10px 4px $b;
}

form {
@include YX(550px, 70%);
font-family: map-get($fonts , form);
font-size: 1.1rem;
letter-spacing: 1px;
color: $Lgrey;
padding: 20px;
margin: 100px 0px 200px 0px;
background-image: url(../assets/img/pPlain.jpg);
background-position: center;
background-size: cover; 
box-shadow: rgba(0, 0, 0, 0.4)10px 10px 5px;
padding-bottom: 5px;
}

.msg__title {
    display:flex;
    justify-content: center;
    font-size: 1rem;
    font-weight: 300;
    text-shadow: 1px 1px 3px $b;
    margin-top:50px;
}

.userMsg {
    font-family: map-get($fonts , form);
    font-size: 1.1rem;
    letter-spacing: 1px;
    color: $b;
    padding: 5px;
    opacity: 0.5;
    width: 100%;
    transition: all 0.5s;
        &:hover {
            background-color: $Lgrey;
            opacity: 1;
        }
}

.form-control {
    width: 70%;
    font-size: 1rem;
    font-weight:300;
    margin-bottom:15px;
    transition: all 0.5s;
    opacity: 0.5;
    &:hover {
        opacity: 1;
        background-color: $Lgrey;
    }
}

main 
    form 
        input {
        height: 40px;
}

main
    form
        button {
        height: 33px;
        font-family: map-get($fonts , form );
        font-size: 1.1rem;
        color: $b;
        width: 100px;
        opacity: 0.5;
        border: none;
        transition: all 0.5s;
            &:hover {
                opacity: 1;
                background-color: $Lgrey;
            }

}   

.contact_main {
    display: flex;
    justify-content: center;
}

.contactIMG {
    @include YX(600px, 70%);
    margin-top: 50px;
    border-radius: 10px;
}


/*WorkingOn*/


.inDev__style {
    background-color: #ffff00;
    display: flex;
    font-family: map-get($fonts, subtitle);
}

.inDev__img {
    @include YX(500px, 500px);
    margin: 10px 0 15px 0;
}

.centerElement {
    display: flex;
    justify-content: center;
}

/***responsive***/


@media (max-width: 575px) and (min-width: 350px) {
    
    /**gral**/
        
    .header__title {
        font-size: 50px; 
    }

    .navbar {
        margin-top: 0px;
        width: 100%;
    }

    .bg-dark {
        --bs-bg-opacity: 0.8;
    }

    nav 
        ul 
            li 
                a {
                    font-size: 18px;
                    padding-inline: 18px;
                }

    .navbar-toggler {
        margin: -5px;
    }

    .navbar-toggler-icon {
        margin-bottom: 0px;
    }

    .nav-link {
        --bs-navbar-active-color: #222;
    }

/*footer*/

.footer__style {
    height: 322px;
}

.footer__title {
    font-size: 35px;
}

.contact {
    margin-top: 0px;
    width: 70%;
    font-size: 16px;
    margin-inline: 0px;
    margin-left: 24px;
}

.contact__info {
    margin-top: -24px;
    margin-left: 40px;
    font-size: 15px;
}


.contact2 {
    margin-top: 51px;
    margin-left: 24px;
    margin-inline: 0px;
}

.faq {
    margin-top: 115px;
    width: 90%;
    font-size: 16px;
    padding-left: 90px;
}

.faq__link {
    margin-left: 4px;
}

.footer__subtitle {
    margin-right: 0px;
    margin-top: -50px;
    margin-left: 8px;
    font-size: 16px;
}

.footer__social {
    margin-top: 170px;
    padding-top: 70px;
    margin-right: 10px;
}

.footer__title {
    font-size: 35px;
}

.box__map {
    display: none;
}

footer
    article
        a {
        margin-inline: 12px;
}


/*index*/

.parallaxTop {
    height: 400px;
    background-attachment:unset;
    background-position: right;
}

.eslogan {
    margin: 0;
    height: 400px;
    font-size: 18px;
    padding-top: 100px;
}

.maintitle {
    font-size: 55px;
}

.firstIMG {
    @include YX(350px, 375px);
}

.content_index {
    gap: 0px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: 
        "first" 
        "second" 
        "third"
        ;
    max-width: 100%;
    height: 2422px;
}

.first {
    flex-direction: column;
    gap: 0px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    align-items: center;
    font-size: 23px;
    height: 750px;
}

.firstIMG {
    margin: auto;
    margin-top: 80px;
    @include YX(350px, 290px);
}

#first_subtitle {
    margin-left: 0px;
}

.first__info {
    margin: 25px;
    margin-top: 60px;
}


.btn_display {
    justify-content: center;
}

.second {
    margin-right: 0px;
    margin-top: 0px;
    height: 800px;
    font-size: 23px;
    max-width: 100%;
}

.secondIMG {
    @include YX(265px, 275px);
}

.second__info {
    margin: 18px;
}

.third {
    margin-top: 0px;
    margin-left: 0px;
    font-size: 23px;
    height: 880px;
    border-left: 0px;
}

.thirdIMG {
    @include YX(265px, 275px);
}

.third__info {
    margin: 18px;
}

.maintitle_second {
    margin-top: -220px;
    margin-left: 150px;
}

.btn__index {
    width: 115px;
}

.parallaxMid {
    background-attachment: unset;
    height: 450px;
    margin-top: 0px;
    background-position: top;
}

.eslogan__second {
    padding-bottom: 220px;
    padding-left: 15px;
    font-size: 16px;
}

/*street*/

.parallaxTop__street {
    background-attachment: fixed;
    height: 250px;
}

.content_street {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6,1fr);
}


.content_subtitle {
    font-size: 30px;
}

.grid_img {
    @include YX(270px, 290px);
}

.grid_btn_style {
    margin-left: 0px;
    margin-bottom: 70px;
}


/*outdoor*/

.parallaxTop__outdoor {
    background-attachment: fixed;
    height: 250px;
}

.eslogan__outdoor {
    padding-bottom: 40px;
    padding-left: 20px;
}

.content_outdoor_header {
    height: 280px;
}


.content_outdoor {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,1fr);
}



/*reviews*/

.parallaxTop__reviews {
    height: 250px;
}

.eslogan__reviews {
    padding-bottom: 168px;
    padding-left: 35px;
}

.content_reviews {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6,1fr);
    text-align: center;
}

.maintitle_second_mobile {
    margin-top: 180px;
    margin-left: 100px;
}

.maintitle_third{
    margin-left: 60%;
    margin-top: 50px; 
    width: 40%;  
}

.content_subtitle {
    position: unset;
    text-decoration: none;
    letter-spacing: 1px;
    margin-bottom: -20px;
    margin-top: 30px;
}

/*contacto*/

.parallaxTop__contact {
    background-attachment: fixed;
    height:250px;
    background-position:center;
}

form {
    width: 520px;
}

.eslogan__contact {
    padding-bottom: 0px;
    padding-left: 20px;
}

}


@media (max-width: 767px) and (min-width: 576px) {

/**gral**/
        
    .header__title {
        font-size: 50px; 
    }

    .navbar {
        margin-top: 0px;
        width: 100%;
    }

    .bg-dark {
        --bs-bg-opacity: 0.8;
    }


    nav 
        ul 
            li 
                a {
                    font-size: 18px;
                    padding-inline: 18px;
                }

    .navbar-toggler {
        margin: -5px;
    }

    .navbar-toggler-icon {
        margin-bottom: 0px;
    }

    .nav-link {
        --bs-navbar-active-color: #222;
    }

/*footer*/

.footer__style {
    height: 305px;
}

.contact {
    margin-top:15px;
    margin-inline: 20px;
    width: 50%;
}

.contact__info {
    margin-top: -24px;
    margin-left: 40px;
}

.contact2 {
    margin-top:13px;
    margin-inline: 330px;
}

.faq {
    margin-top: 90px;
    margin-inline: 20px;
    width: 50%;
}

.footer__subtitle {
    margin-right: 60px;
    margin-top: 8px;
}

.footer__social {
    margin-top: 165px;
}

.footer__title {
    font-size: 40px;
}

.box__map {
    display: none;
}

footer
    article
        a {
        margin-inline: 12px;
}


/*index*/

.parallaxTop {
    height: 400px;
    background-attachment:fixed;
    background-position: right;
}

.eslogan {
    margin: 0;
    height: 270px;
    font-size: 20px;
}

.maintitle {
    font-size: 55px;
}

.firstIMG {
    @include YX(350px, 375px);
}

.content_index {
    gap: 100px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: 
        "first" 
        "second" 
        "third"
        ;
}

.first {
    flex-direction: column;
    gap: 0px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    align-items: center;
    font-size: 23px;
    height: 710px;
}

.firstIMG {
    margin: 75px 45px 0px 45px;
}

#first_subtitle {
    margin-left: 0px;
}

.first__info {
    margin: 60px;
}

.btn_display {
    justify-content: center;
}

.second {
    margin-right: 0px;
    margin-top: -115px;
    height: 832px;
    font-size: 23px;

}

.second__info {
    margin: 18px;
}

.third {
    margin-top: -200px;
    margin-left: 0px;
    font-size: 23px;
    height: 825px;
    border-left: 0px;
}

.third__info {
    margin: 18px;
}

.maintitle_second {
    margin-top: -220px;
    margin-left: 150px;
}

.parallaxMid {
    background-attachment: fixed;
    height: 450px;
    margin-top: -93px;
}

.eslogan__second {
    padding-bottom: 60px;
    padding-left: 15px;
    font-size: 16px;
}

/*street*/

.parallaxTop__street {
    background-attachment: fixed;
    height: 250px;
}

.content_street {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6,1fr);
}


.content_subtitle {
    font-size: 30px;
}

.grid_img {
    @include YX(270px, 290px);
}

.grid_btn_style {
    margin-left: 0px;
    margin-bottom: 70px;
}


/*outdoor*/

.parallaxTop__outdoor {
    background-attachment: fixed;
    height: 250px;
}

.eslogan__outdoor {
    padding-bottom: 40px;
    padding-left: 20px;
}

.content_outdoor_header {
    height: 280px;
}


.content_outdoor {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,1fr);
}



/*reviews*/

.parallaxTop__reviews {
    height: 250px;
}

.eslogan__reviews {
    padding-bottom: 168px;
    padding-left: 35px;
}

.content_reviews {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6,1fr);
    text-align: center;
}

.maintitle_second_mobile {
    margin-top: 180px;
    margin-left: 100px;
}

.maintitle_third{
    margin-left: 60%;
    margin-top: 50px; 
    width: 40%;  
}

.content_subtitle {
    position: unset;
    text-decoration: none;
    letter-spacing: 1px;
    margin-bottom: -20px;
    margin-top: 30px;
}

/*contacto*/

.parallaxTop__contact {
    background-attachment: fixed;
    height:250px;
    background-position:center;
}

form {
    width: 520px;
}

.eslogan__contact {
    padding-bottom: 0px;
    padding-left: 20px;
}

}

@media (max-width: 991px) and (min-width: 768px) {

/*GRAL*/

    .navbar {
        margin-top: 0px;
        width: 100%;
    }

    nav
        ul 
            li
                a {
                font-size: 18px;
                padding-inline: 18px;
    }

    .bg-dark {
        --bs-bg-opacity: 0.8;
    }
    

    .navbar-toggler {
        margin: -5px;
    }

    .navbar-toggler-icon {
        margin-bottom: 0px;
        
    }

    .nav-link {
        --bs-navbar-active-color:rgb(2,2,2);
    }

    .eslogan {
        position: absolute;
        margin: 90px 0px 0px 350px;
        font-size: 22px;
        height: 125px;
    }

/*footer*/

.footer__style {
    height: 318px;
}

.contact {
    margin-top:15px;
    margin-inline: 20px;
    width: 50%;
}

.contact__info {
    margin-top: -24px;
    margin-left: 40px;
}

.contact2 {
    margin-top:13px;
    margin-inline: 365px;
}

.faq {
    margin-top: 90px;
    margin-inline: 20px;
    width: 50%;
}

.faq__link {
    margin-left: 15px;
}

.footer__subtitle {
    margin-right: 60px;
    margin-top: 8px;
}

.footer__social {
    margin-top: 177px;
}

.footer__title {
    font-size: 51px;
    padding-top: 17px;
}

.title__map {
    margin-right:45px;
}

.box__map {
    display:none;
}

footer
    article
        a {
        margin-inline: 12px;
}


/*index*/

.header {
    height: 270px;
}

.header__title {
    font-size: 57px;
}    

.eslogan {
    margin: 0;
    height: 440px;
    font-size: 20px;
    position: unset;
    font-size: 21px;
}

.parallaxTop {
    height: 400px;
    background-attachment: fixed;
    background-position: right;
}

.content_index {
        gap: 100px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,1fr);
        grid-template-areas: 
            "first" 
            "second" 
            "third"
            ;
        height: 2679px;
        }
    
    .first {
        flex-direction: column;
        font-size: 27px;
        gap: 0px;
        align-items: center;
        height: 848px;
    }
    
    .firstIMG {
        margin: 80px 0px 0px 0px;
    }

    #first_subtitle {
        margin-left: 0px;
    }

    .first_2 {
        margin: 60px;
    }
    
    .btn_display {
        justify-content: center;
        gap: 50px;
    }
    
    .second {
        margin-right: 0px;
        height: 912px;
        margin-top: -86px;
    }
    
    .third {
        margin-top: -200px;
        margin-left: 0px;
        border-left: 0px;
        height: 850px;
    }

    .parallaxMid {
    background-attachment: fixed;
    height: 550px;
    margin-top: -176px;
}

/*street*/

.parallaxTop__street {
    height: 300px;
    background-attachment: fixed;
}

.eslogan__contact {
    height: 300px;
    padding-top: 200px;
    padding-left: 80px;
}

.content_street {
    gap:115px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: 
            "first_product second_product"
            ;
}

.content_subtitle {
    font-size: 40px;
}


.grid_btn_style {
    margin-left: 0px;
    margin-bottom: 70px;
}


/*outdoor*/

.parallaxTop__outdoor {
    height: 300px;
    background-attachment: fixed;
}

.eslogan__outdoor {
    height: 300px;
    padding-left: 30px;
    padding-top: 200px;
}


.content_outdoor {
    gap: 115px;
    grid-template-columns: 2fr;
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: "first_product second_product";
}



/*reviews*/


.parallaxTop__reviews {
    height: 300px;
    background-attachment: fixed;
}

.eslogan__reviews {
    height: 300px;
    padding-left: 65px;
    padding-top: 200px;
}


.content_reviews {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6,1fr);
    text-align: center;
}

.iframes_reviews {
    margin-top: 50px;
    margin-left: 0px;
    margin-bottom: 50px;
}

.maintitle_second_mobile {
    margin-top: 180px;
    margin-left: 100px;
}

.maintitle_third{
    margin-left: 60%;
    margin-top: 50px;
    width: 40%;   
}

.content_subtitle {
    position: unset;
    text-decoration: none;
    letter-spacing: 1px;
    margin-bottom: -20px;
    margin-top: 30px;
    font-size: 35px;
}

/*contacto*/


.parallaxTop__contact {
    height: 300px;
    background-attachment: fixed;
}

form {
    width: 520px;
}

.eslogan__contact {
    padding-top: 128px;
    padding-left: 144px;
}

}


@media (max-width: 1340px) and (min-width: 992px) {
    
    /*gral*/

    /*footer*/

    .address__map {
        margin-right: 30px;
    }


    /*index*/
    
    .parallaxTop {
        height: 450px;
    }
    
    .eslogan {
        font-size: 23px;
    }

    .content_index {
        height: 1397px;
        gap: 50px;
    }

    .first {
        font-size: 31px;
        gap: 50px;
    }

    .second {
        height: 865px;
    }

    .third {
        height: 865px;
    }



    /*street*/

    .parallaxTop__street {
        height: 300px;
    }

    .content_street {
        column-gap: 50px;
    }

    /*outdoor*/

    .content_outdoor {
        column-gap: 160px;
    }

    .parallaxTop__outdoor {
        height: 300px;
    }

    /*reviews*/

    .parallaxTop__reviews {
        background-attachment: fixed;
        background-position: right;
        height: 300px;
    }

    .content_reviews {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
    }

    .maintitle_third {
        margin-left: 60%;
        width: 40%;
    }

    /*contacto*/

    .parallaxTop__contact {
        height: 300px;
    }
}

@media (min-width: 1341px) {

.address__map {
    margin-right: 10px;
}

.parallaxTop__street  {
    height: 350px;
}

.parallaxTop__outdoor  {
    height: 350px;
}

.parallaxTop__contact {
    height: 350px;
} 

.parallaxTop__reviews {
    height: 350px;
}

.maintitle_third {
    margin-left: 60%;
    width: 40%;
}

.parllaxTop {
    height: 460px;
}

.eslogan {
    font-size: 22px;
}

}